<ul class="menu">
    <a href='http://localhost:3000/dashboard'><li>Home</li></a>
    <a href='http://localhost:3000/pet/community'><li>Community</li></a>
    <li href='#'>Pet Details</li>
    <li href='#'>Walks</li>
</ul>