<nav class="menu">
    <a href='http://localhost:3000/dashboard'><button>Home</button></a>
    <a href='http://localhost:3000/dashboard/community'><button>Community</button></a>
    <form method="GET" action="/pet/add-pet">
        <button>Add Pet</button>
    </form>
    <a href='#'><button>Walks</button></a>
</nav>