<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width' initial-scale='1.0' maximum-scale='1.0'/>
        <title>PetPlanner</title>
        <link rel="shortcut icon" href="/images/pepper.svg" type="image/x-icon">
        <link rel='stylesheet' href='/styles/styles.css'/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        {{> header}}
        {{> menu}}
        <main>
            {{#pets}}
                <img src="{{imageurl}}" alt="pet photo" width="300px">
                <h1>Name: {{petname}}</h1>
                <p>Food Brand: {{foodbrand}}</p>
                <p>Cups per meal: {{amount}}</p>
                <p>Meals per day: {{perday}}</p>
                <p>Favorite things: {{favorites}}</p>
                <p>Published to community? {{published}}</p>
                <p>Date created: {{datecreate}}</p>
                <p>Last updated: {{dateupdate}}</p>

            <form method="POST" action="/pet/edit-pet/petname">
                <input type="text" placeholder="Pet Name" name="petname">
                <input type="hidden" name="petid" value={{petid}}>
                <button>Submit</button>
            </form>
            <form method="POST" action="/pet/edit-pet/foodbrand">
                <input type="text" placeholder="Brand of Food" name="foodbrand">
                <input type="hidden" name="petid" value={{petid}}>
                <button>Submit</button>
            </form>
            <form method="POST" action="/pet/edit-pet/amount">
                <input type="text" placeholder="Cups per meal" name="amount">
                <input type="hidden" name="petid" value={{petid}}>
                <button>Submit</button>
            </form>
            <form method="POST" action="/pet/edit-pet/perday">
                <input type="text" placeholder="Meals per day" name="perday">
                <input type="hidden" name="petid" value={{petid}}>
                <button>Submit</button>
            </form>
            <form method="POST" action="/pet/edit-pet/favorites">
                <input type="text" placeholder="Favorite things" name="favorites">
                <input type="hidden" name="petid" value={{petid}}>
                <button>Submit</button>
            </form>
            <form method="POST" action="/pet/edit-pet/imageurl">
                <input type="text" placeholder="Image URL" name="imageurl">
                <input type="hidden" name="petid" value={{petid}}>
                <button>Submit</button>
            </form>
            <form method="POST" action="/pet/edit-pet/published">
                <label for="published">Publish pet to community page?</label>
                <input type="checkbox" id="published" name="published" value="true" checked>
                <input type="hidden" name="petid" value={{petid}}>
                <button>Submit</button>
            </form>
            {{/pets}}
        </main>
        {{> footer}}
    </body>
</html>