<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width' initial-scale='1.0' maximum-scale='1.0'/>
        <title>PetPlanner</title>
        <link rel="shortcut icon" href="/images/pepper.svg" type="image/x-icon">
        <link rel='stylesheet' href='/styles/styles.css'/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        {{> header}}
        {{> menu}}
        <main>
            {{#pets}}
                <h1>Name: {{name}}</h1>
                <p>Favorite things: {{favorites}}</p>
                <p>Date created: {{creadedAt}}</p>
                <p>Last updated: {{updatedAt}}</p>

            <form method="POST" action="/pet/edit-pet">
                <input type="text" placeholder="Pet Name" name="name" value="{{name}}">
                <input type="text" placeholder="Favorite things" name="favorites" value="{{favorites}}">
                <input type="hidden" name="id" value={{id}}>
                <label for="published">Publish pet to community page?</label>
                <input type="checkbox" id="published" name="published" value="true" checked>
                <input type="hidden" name="id" value={{id}}>
                <button>Submit</button>
            </form>
            {{/pets}}
        </main>
        {{> footer}}
    </body>
</html>