* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* colors
light cyan - #E0FBFC
powder blue - #C2DFE3
english lavender - #B38D97
pastel pink - #D5ACA9
black - 000000 */


html {
  color: black;
  background-color: #E0FBFC;
  text-align: center;
  
}

li {
  list-style-type: none;
}

.logo {
  padding: 20px;
  width: 200px;
  margin-left: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  list-style-type: none;
  padding: 10px;
}

.header, .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C2DFE3;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}

p {
  padding: 10px;
  margin: 5px;
}

input {
  font-weight: bold;
  margin: 20px;
}

button {
  background-color: #B38D97;
  border: none;
  padding: 15px;
  border-radius: 12px;
  font-weight: bold;
  margin: 10px;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 150px;
  row-gap: 150px;
  margin: 10%;
}

.pet {
  background-color: #D5ACA9;
  padding: 20px;
  border-radius: 8px;
}

.createPet, .editPet {
  background-color: #D5ACA9;
  margin: 5%;
  border-radius: 8px;
}

a {
  text-decoration: none;
}

a:link, a:active, a:visited {
  color: black;
}

a:hover, a:focus, button:hover, button:focus {
  color: #E0FBFC;
}

@media screen and (min-width: 600px) {
  .menu, .header {
      flex-direction: row;
  }

  .App {
    grid-template-columns: 1fr 1fr;
  }
}
